/* style contents for mobile only */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@media (max-width: 769px) {
  .navbar-brand {
    margin-left: 20px;
    color: rgb(3, 150, 3);
    text-decoration: none;
    font-weight: bold;
    font-family: "Lobster Two", cursive;
    font-size: 2rem;
  }
  .nav-link {
    color: rgb(3, 150, 3) !important;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
}

/* style contents for larger screens only */

@media (min-width: 769px) {
  .navbar-brand {
    color: rgb(3, 150, 3);
    text-decoration: none;
    font-weight: bold;
    font-family: "Lobster Two", cursive;
    font-size: 2.5rem;
  }
  .nav-link {
    color: rgb(3, 150, 3) !important;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .nav-link:hover {
    border-bottom-width: 5px;
    border-bottom-color: rgb(6, 252, 6);
    border-bottom-style: solid;
  }
  .nav-link:focus {
    border-bottom-width: 5px;
    border-bottom-color: rgb(6, 255, 6);
    border-bottom-style: solid;
  }
  .navbar {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
  }
  .navbar-nav {
    gap: 20px;
  }
  .container-fluid {
    display: flex;
  }
}

/* stylings that doesnt affect screens only */

.navbar-btn {
  font-weight: bold;
  color: white;
  font-size: 20px;
  border-radius: 15px;
  background: linear-gradient(90deg, #2dff1a 16%, #0bf559 50%);
  padding: 6px 20px;
  box-shadow: 0 4px 6px #08080880;
}

.navbar-btn:hover {
  background: linear-gradient(90deg, #19fc05 16%, #0bf559 50%);
}
.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white; /* Ensure background remains visible */
  z-index: 1000; /* Keeps navbar above other content */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
}

.bg {
  background-color: white;
  box-shadow: 0 4px 6px rgba(8, 8, 8, 0.5);
  color: black !important;
}
.bk-icon {
  margin-right: 10px;
  color: rgb(3, 150, 3);
}
